/* Style général */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #181818;
}

/* Header */
header {
  position: relative;
  background-color: #202020;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
  color: #bb1313;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  padding-top: 11vh;
  font-weight: bold;
}

header a:hover {
  color: #ff1313;
}

header .logo {
  margin-left: 8%;
}

header .menu-toggle {
  float: left;
  cursor: pointer;
}

header .cart-logo {
  float: right;
}

header .account-logo {
  float: right;
}

/* Navigation */
nav {
  text-align: center;
  display: block;
  background-color: #411c1c;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px;
  display: inline;
}

nav ul li a:hover{
  color: #c0c0c0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

/* Footer */
footer {
  background-color: #202020;
  padding: 10px;
  text-align: center;
}

/* Catalogue des produits */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 900px;
}

.product {
  cursor: pointer;
  width: 30%;
  margin-bottom: 20px;
  padding: 0px;
  padding-bottom: 10px;
  border: 1px solid #4b4b4b;
  text-align: center;
  background-color: #290c0c;
  transition: transform 0.3s ease, filter 0.3s ease; /* Ajoute une transition de 0.3 seconde aux propriétés transform et filter */
}

.product:hover {
  transform: scale(1.05); /* Augmente la taille de l'image de 10% */
  background-color: #722323;
}


.product-image-container:hover img {
  transform: scale(1.3); /* Augmente la taille de l'image de 10% */
  filter: grayscale(0%); /* Applique un effet de gris à 50% sur le reste de la page */
}

.product-image-container {
  display: flex;
  overflow: hidden;
}

.product img {
  filter: grayscale(50%); /* Applique un effet de gris à 50% sur le reste de la page */
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease; /* Ajoute une transition de 0.3 seconde aux propriétés transform et filter */
}

.product-title {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}

.product-description {
  font-size: small;
  margin-top: 5px;
  color: #ffffff;
}

.product-price {
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}
.catalog-indicator {
  color: #bebebe;
  padding-top: 50px;
  text-align: center;
  font-size: large;
}

hr {
  width: 500px;
}

footer a {
  color: #9a9a9a;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

.zoom-icon {
  position: absolute;
  img {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    float: left;
  }
}

/* -------------- PAGE DU PRODUIT -------------- */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.product-details {
  display: flex;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-left: 20px;
}

.product-info h1 {
  font-size: 24px;
  margin: 0;
}

.product-info p {
  font-size: 16px;
}

#product-size {
  font-size: 16px;
  margin: 10px 0;
}

#add-to-cart {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}